<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.user.PCatHomeui">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
            android:name=".MyApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".LightActivity"
                android:launchMode="singleInstance"/>
        <activity
                android:name=".CheckActivity"
                android:label="@string/check"/>
        <activity
                android:name=".HelpActivity"
                android:label="@string/help"/>
        <activity
                android:name=".CameraActivity"
                android:label="@string/monitor"
                android:launchMode="singleInstance"/>
        <activity
                android:name=".WarningActivity"
                android:label="@string/warning"/>
        <activity
                android:name=".ConnectActivity"
                android:label="@string/connect"/>
        <activity
                android:name=".HistoryActivity"
                android:label="@string/history"/>
        <activity
                android:name=".InfoActivity"
                android:label="@string/info">
        </activity>

        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version"/>

        <activity
                android:name=".TurnoffActivity"
                android:label="@string/turnoff">
        </activity>
        <activity android:name=".SettimeActivity">
        </activity>
        <activity android:name=".ReConnectActivity"
                  android:label="@string/reconnect" >
        </activity>
        <activity android:name=".ShutdownActivity"
                  android:label="@string/turnoff">
        </activity>
        <activity android:name=".ScanActivity"
                  android:label="@string/scan">
        </activity>
        <activity android:name=".UsingInfoActivity"
                  android:label="@string/usingInfo">
        </activity>
    </application>

</manifest>