<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.user.PCatHomeui">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name="com.example.user.PCatHomeui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name="com.example.user.PCatHomeui.LightActivity"
                android:launchMode="singleInstance"/>
        <activity
                android:name="com.example.user.PCatHomeui.CheckActivity"
                android:label="@string/check"/>
        <activity
                android:name="com.example.user.PCatHomeui.HelpActivity"
                android:label="@string/help"/>
        <activity
                android:name="com.example.user.PCatHomeui.CameraActivity"
                android:label="@string/monitor"
                android:launchMode="singleInstance"/>
        <activity
                android:name="com.example.user.PCatHomeui.WarningActivity"
                android:label="@string/warning"/>
        <activity
                android:name="com.example.user.PCatHomeui.ConnectActivity"
                android:label="@string/connect"/>
        <activity
                android:name="com.example.user.PCatHomeui.HistoryActivity"
                android:label="@string/history"/>
        <activity
                android:name="com.example.user.PCatHomeui.InfoActivity"
                android:label="@string/info">
        </activity>

        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version"/>

        <activity
                android:name="com.example.user.PCatHomeui.TurnoffActivity"
                android:label="@string/turnoff">
        </activity>
        <activity android:name="com.example.user.PCatHomeui.SettimeActivity">
        </activity>
        <activity android:name="com.example.user.PCatHomeui.ReConnectActivity">
        </activity>
        <activity android:name="com.example.user.PCatHomeui.ShutdownActivity">
        </activity>
    </application>

</manifest>